ca-eulaFile=/ca-eula.txt
 
USER_INSTALL_DIR={{ installation_path }}

silentInstallChosenFeatures=Enterprise Manager,WebView,Database,Command Center Server

shouldUpgrade=false

emPort=5001

emWebPort=8081

emAdminPassword=

emGuestPassword=

shouldEnableTeamCenterMaster=true

shouldClusterEm=false

emTxTraceDataShelfLife=14

emTxTraceDir=traces

emTxTraceDiskSpaceCap=

emDataStoreDir=data

emThreadDumpDir=threaddumps

shouldEnableAPMIntegrationPackForADA=true

#CA APM for Oracle Databases
shouldEnableCAAPMForOracleDB=true

#CA APM for Microsoft SharePoint
shouldEnableCAAPMForSharePointPortal=true

#CA APM for Web Servers	
shouldEnableCAAPMForWebServers=true

#CA APM for IBM WebSphere MQ and IBM WebSphere Message Broker
shouldEnableCAAPMForWebSphereMQandMB=true

#CA APM for IBM WebSphere Application Server for z/OS	
shouldEnableCAAPMForWebSphereZOS=false

#CA APM for IBM CICS Transaction Gateway
shouldEnableCAAPMForIBMCTG=false

#CA APM for IBM z/OS	
shouldEnableCAAPMForIBMzOSExtension=false

#CA Cross-Enterprise Application Performance Management
shouldEnableSysview=false

#CA APM for Oracle Service Bus
shouldEnableCAAPMForOSB=false

#CA APM for TIBCO BusinessWorks
shouldEnableCAAPMForTibcoBW=false

#CA APM for TIBCO Enterprise Message Service
shouldEnableCAAPMForTibcoEMS=false

#CA APM for webMethods Broker	
shouldEnableCAAPMForWMBroker=false

#CA APM for webMethods Integration Server
shouldEnableCAAPMForWebMethodsIS=false

#CA APM Integration with Cloud Monitor
shouldEnableAPMIntegrationPackForCM=true

shouldConfigEmAsService=false

chosenDatabaseIsPostgres=true
chosenDatabaseIsOracle=false

dbHost=127.0.0.1
dbPort=5432
dbName=cemdb
dbUser=admin
dbPassword=wily

dbAdminUser=postgres
dbAdminPassword=C@wilyapm90

databaseDir=$defaultDatabaseDir$

dbInstallScriptTimeoutInMillis=240000

validateDatabase=false

wvPort=8080
wvEmHost=localhost
wvEmPort=5001
wvEmWebPort=8081

CCS_INSTALL_DIR=/root/CommandCenterServer

shouldIntegrateWithAxa=false

AXA_URL=

AXA_USER=

AXA_PASSWORD=

AXA_TENANT=

INSTALLER_UI=silent
