# Tue Dec 05 23:15:16 PST 2017
# Replay feature output
# ---------------------
# This file was built by the Replay feature of InstallAnywhere.
# It contains variables that were set by Panels, Consoles or Custom Code.



#InstallLocale
#-------------
INSTALLER_LOCALE=en

#Detected OS
#-----------
DETECTED_OS=Windows

#Installer Launch Directory
#--------------------------
INSTALLER_LAUNCH_DIR=D:\\installers\\cabi\\bits\\ca_install\\GUI_Install\\Windows\\Disk1\\InstData\\VM

#InstallationDirectory
#---------------------
USER_INSTALL_DIR=D:\\Program Files\\CA\\SC\\CA Business Intelligence

#InstallType
#-----------
INSTALL_FRESH_TYPE=fresh

#Web AppName
#-----------
WEBAPP_NAME=jasperserver-pro

#Destination directory
#---------------------
DESTINATION_DIR=D:\\Program Files\\CA\\SC\\CA Business Intelligence

#Encryption enabled
#------------------
ENCRYPTION_ENABLED=true

#App server port
#---------------
APPSERVER_SERVER_PORT=8080

#App Server shutdown port
#------------------------
APPSERVER_SHUTDOWN_PORT=8005

#App Server AJP port
#-------------------
APPSERVER_AJP_PORT=8009

#WebApp protocal
#---------------
WEBAPP_PROTOCOL=http

#Is bundled tomcat
#-----------------
IS_BUNDLED_TOMCAT=true

#DB Port
#-------
DB_PORT=5432

#DB Password
#-----------
DB_PASSWORD=CAdemo123

#DB User
#-------
DB_USER=postgres

#DB Name
#-------
DB_NAME=postgres

#Repository database name
#------------------------
REPOSITORY_NAME=jasperserver

#Database type
#-------------
DB_TYPE=postgresql

#DB Existing UserName
#--------------------
DB_EXISTING_USERNAME=postgres

#DB Existing Password
#--------------------
DB_EXISTING_PASSWORD=CAdemo123

#Is bundled postgres
#-------------------
IS_BUNDLED_POSTGRES=true

#Is samples required
#-------------------
SAMPLES=No

#Is database deletion required
#-----------------------------
REMOVE_DB=false

#DB Master Password
#------------------
DB_MASTER_PASSWORD=
