# Mon Jun 01 14:34:36 EDT 2015
# Replay feature output
# ---------------------
# This file was built by the Replay feature of InstallAnywhere.
# It contains variables that were set by Panels, Consoles or Custom Code.



#Pre-requisite Check Warning
#---------------------------
PROMPT_USER_CHOSEN_OPTION=0

#Choose Install Folder
#---------------------
USER_INSTALL_DIR={{ installation_path }}

#Install
#-------
-fileOverwrite_/opt/CA/NFA/Uninstall/Harvester/Harvester_Uninstaller.lax=Yes


