# Consul Extension installer properties

#Choose Install Folder
#---------------------
USER_INSTALL_DIR={{ installation_path }}

#Get JRE home
#------------
JRE_HOME={{ installation_path }}/jre

#Consul agent host
#-----------------
CONSUL_AGENT_HOST=localhost

#Consul Port
#-----------
CONSUL_HTTP_PORT=8500

#DA Port
#-------
DA_HTTP_PORT=8581

