# Tue Dec 12 15:51:26 PST 2017
# Replay feature output
# ---------------------
# This file was built by the Replay feature of InstallAnywhere.
# It contains variables that were set by Panels, Consoles or Custom Code.



#Choose Install Set
#------------------
CHOSEN_FEATURE_LIST=Manager
CHOSEN_INSTALL_FEATURE_LIST=Manager
CHOSEN_INSTALL_SET=DistManager

#Choose Install Folder
#---------------------
USER_INSTALL_DIR=D:\\CA

#Install
#-------
-fileOverwrite_D\:\\CA\\Temp\\SSO_Config\ Files\\VirtualAssurance\\Multi-PortCollector.xml=Yes
-fileOverwrite_D\:\\CA\\Temp\\SSO_Config\ Files\\VirtualAssurance\\SuperAgent.xml=Yes
-fileOverwrite_D\:\\CA\\Temp\\SSO_Config\ Files\\SuperAgent.xml=Yes
-fileOverwrite_D\:\\CA\\Temp\\SSO_Config\ Files\\Multi-PortCollector.xml=Yes
-fileOverwrite_D\:\\CA\\Temp\\SSO_Config\ Files\\VirtualMulti-PortCollector.xml=Yes
-fileOverwrite_D\:\\CA\\Temp\\SSO_Config\ Files\\vmtp.properties=Yes
-fileOverwrite_D\:\\CA\\Temp\\SSO_Config\ Files\\vmtp_en.properties=Yes
-fileOverwrite_D\:\\CA\\Temp\\SSO_Config\ Files\\vmtp_fr.properties=Yes
-fileOverwrite_D\:\\CA\\Temp\\SSO_Config\ Files\\vmtp_ja.properties=Yes
-fileOverwrite_D\:\\CA\\Temp\\SSO_Config\ Files\\vmtp_zh_CN.properties=Yes
-fileOverwrite_D\:\\CA\\Temp\\SSO_Config\ Files\\vmtp_zh_TW.properties=Yes
-fileOverwrite_D\:\\CA\\Temp\\vcredist_x86.exe=Yes
-fileOverwrite_D\:\\CA\\MySql\\my.ini=Yes
-fileOverwrite_D\:\\CA\\MySql\\lib\\plugin\\saUDF.dll=Yes
-fileOverwrite_D\:\\CA\\Portal\\SSO\\bin\\SsoConfig.lax=Yes
-fileOverwrite_D\:\\CA\\Portal\\SSO\\webapps\\SSO\\configuration\\SuperAgent.xml=Yes
-fileOverwrite_D\:\\CA\\Portal\\SSO\\webapps\\SSO\\configuration\\Multi-PortCollector.xml=Yes
-fileOverwrite_D\:\\CA\\Portal\\SSO\\webapps\\SSO\\configuration\\VirtualMulti-PortCollector.xml=Yes
-fileOverwrite_D\:\\CA\\Portal\\SSO\\webapps\\SSO\\WEB-INF\\classes\\vmtp.properties=Yes
-fileOverwrite_D\:\\CA\\Portal\\SSO\\webapps\\SSO\\WEB-INF\\classes\\vmtp_en.properties=Yes
-fileOverwrite_D\:\\CA\\Portal\\SSO\\webapps\\SSO\\WEB-INF\\classes\\vmtp_fr.properties=Yes
-fileOverwrite_D\:\\CA\\Portal\\SSO\\webapps\\SSO\\WEB-INF\\classes\\vmtp_ja.properties=Yes
-fileOverwrite_D\:\\CA\\Portal\\SSO\\webapps\\SSO\\WEB-INF\\classes\\vmtp_zh_CN.properties=Yes
-fileOverwrite_D\:\\CA\\Portal\\SSO\\webapps\\SSO\\WEB-INF\\classes\\vmtp_zh_TW.properties=Yes
-fileOverwrite_D\:\\CA\\ADA_Uninstaller\\Change\ Application\ Delivery\ Analysis\ Installation.lax=Yes
-fileOverwrite_D\:\\CA\\ADA_Uninstaller\\resource\\iawin64_x64.dll=Yes
-fileOverwrite_D\:\\CA\\ADA_Uninstaller\\resource\\iawin32.dll=Yes
-fileOverwrite_D\:\\CA\\ADA_Uninstaller\\resource\\win64_32_x64.exe=Yes
-fileOverwrite_D\:\\CA\\ADA_Uninstaller\\resource\\remove.exe=Yes
-fileOverwrite_D\:\\CA\\ADA_Uninstaller\\resource\\invoker.exe=Yes
