remote_host={{ groups['ss'][0] }}
install_dir={{ installation_path }}
install_owner={{ install_owner }}
main_loc_serv={{ groups['ss'][0] }}
vcd_path=/spectrum-vcd
ss_install=yes
huge_landscape_handle=yes
l_handle=0x10000000
oc_install=yes