#Destination Location
#--------------------
USER_INSTALL_DIR=/opt/CA/SDMConnector

#Install
#-------
-fileOverwrite_/opt/CA/SDMConnector/Uninstall_SPECTRUM Secure Domain Connector/Uninstall_SPECTRUM Secure Domain Connector.lax=Yes
-fileOverwrite_/opt/CA/SDMConnector/i_ico.ico=Yes
